*{
    text-decoration: none;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: rgb(96, 139, 139);

}

.container{
    height: 100vh;
    max-width: 1200px;
    /*width: 1100px;*/
    margin: 0 auto;
    /*colocando lado a lado*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /*font-size: 0.9em;*/
}

h1 {
	text-align: center;
	margin: 60px 0 40px 0;
	/*font-size: 1.5em;*/
	font-size: 3em;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	width: 100%;
}

.list {
	background: white;
	border-radius: 40px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(50,50,90,.1);
    margin-right: 10px;
    width: 900px;
    
}


.itens{
    margin: 10px 10px 10px 10px;
	font-size: 1.2em;
    
}

.faq-title {
	cursor: pointer;
	padding: 10px;
	font-size: 1.4em;
	font-family: monospace;
	color: rgb(9, 110, 63);
}

.faq-title::before {
	/*content: '';*/
	display: inline-block;
	height: 12px;
	width: 24px;
	margin-right: 10px;
	background: #BEB0F4;
}

.faq-title::after {
	content: '+';
	float: right;
	transition: transform .3s ease;
}

.conteudo {
	padding: 10px;
	color: #2a8a6d;
	font-family: Helvetica;
	font-size: .875em;
	line-height: 1.4em;
	display: none;
	width: 100%;
}

.list__input {
	display: none;
}

.list__input:checked + .list__trigger .conteudo {
	display: block;
}

.list__input:checked + .list__trigger .faq-title::after {
	transform: rotate(45deg) scale(1.08);
}

@media screen and (max-width: 600px){
	.container{
		display: flex;
    	flex-direction: column;
    	flex-wrap: wrap;
    	align-content: space-around;
    	align-items: center;
    	justify-content: flex-start;
		font-size: 1em;
	}
}